@font-face {
    font-family: Russian;
    src: url(fonts/ofont.ru_Ramona.ttf);
}
@font-face {
    font-family: hero;
    src: url(fonts/ofont.ru_Hero.ttf);
}
body{
    margin: 0;
    background-image: url(images/space_background.png);
    background-size: 100%;
    background-attachment: fixed;
    font-weight: 700;
    font-family: hero;
}
header{
    width: 100%;
    margin-bottom: 10px;
}
main{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.Hlogo{
    display: flex;
    align-items: center;
    margin-left: 300px;
}
.hTxt{
    color: white;
    font-family: Russian;
    font-size: 16px;
}
.hTxt>p{
    margin: 0;
    letter-spacing: 2px;
}
#NasaTxt{
    width: 90px;
    height: 18px;
}
#hbigtxt{
    font-size: 25px;
    letter-spacing: 2px;
}
#hsmalltxt{
    font-size: 12px;
}
.hPlanets{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 12% 12% 12% 12% 12% 20%;
}
#earth{
    grid-column: 2  /3;
}
#Sun{
    grid-column: 3/4;
}
#SolarSystem{
    grid-column: 4/5;
}
#Space{
    grid-column: 5/6;
}
#ScandT{
    grid-column: 6/7;
}
.hPlanets>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
.hPlanets>a>p{
    margin: 0;
}
.maindiv{
    grid-column: 2 / 3;
    background-color: #ffffff54;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}
.maindivwhite{
    width: 55%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.maindivpink{
    background-color: #c56682;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    height: 65%;
}
.maindivpink>p{
    color: #080EA8;   
    font-family: Russian;
}
.neptune{
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}
.neptune>img , .neptunelooks>div>img{
    width: 90%;
    border-radius: 20px;
}
.neptunefacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.neptunefacts>ul>p , .neptunelooks>p{
    font-size: 20px;
    color: #030591;
} 
.neptunelooks>div>p{
    font-size: 12px;
    font-style: italic;
    color: #030591;
}
.neptunelooks>div{
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.moreinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.moreinfo>a{
    font-weight: 700;
    color: #5a5a5a;
}
@media(max-width:380px){
    .Hlogo{
        margin-left: 9px;
    }
    .hPlanets{
        display: none;
    }
    .maindivpink{
        display: none;
    }
    main{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hTxt{
        color: white;
        font-family: Russian;
        font-size: 10px;
    }
    .hTxt>p{
        margin: 0;
        letter-spacing: 0.5px;
    }
    .Hlogo>img{
        width: 80px;
    }
    #hbigtxt{
        font-size: 17px;
        letter-spacing: 2px;
    }
    #hsmalltxt{
        font-size: 11px;
    }
    .maindiv{
        width: 85%;
    }
    .maindivwhite{
        width: 90%;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #NasaTxt{
        width: 90px;
        height: 18px;
    }
    .moreinfo>a{
        font-weight: 700;
        color: #5a5a5a;
        font-size: 13px;
        padding-bottom: 20px;
    }
    .neptunelooks>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:420px){
    .Hlogo{
        margin-left: 9px;
    }
    .hPlanets{
        display: none;
    }
    .maindivpink{
        display: none;
    }
    main{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hTxt{
        color: white;
        font-family: Russian;
        font-size: 10px;
    }
    .hTxt>p{
        margin: 0;
        letter-spacing: 0.5px;
    }
    .Hlogo>img{
        width: 80px;
    }
    #hbigtxt{
        font-size: 17px;
        letter-spacing: 2px;
    }
    #hsmalltxt{
        font-size: 11px;
    }
    .maindiv{
        width: 85%;
    }
    .maindivwhite{
        width: 90%;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #NasaTxt{
        width: 90px;
        height: 18px;
    }
    .moreinfo>a{
        font-weight: 700;
        color: #5a5a5a;
        font-size: 13px;
        padding-bottom: 20px;
    }
    .neptunelooks>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:500px){
    .Hlogo{
        margin-left: 9px;
    }
    .hPlanets{
        display: none;
    }
    .maindivpink{
        display: none;
    }
    main{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hTxt{
        color: white;
        font-family: Russian;
        font-size: 10px;
    }
    .hTxt>p{
        margin: 0;
        letter-spacing: 0.5px;
    }
    .Hlogo>img{
        width: 80px;
    }
    #hbigtxt{
        font-size: 17px;
        letter-spacing: 2px;
    }
    #hsmalltxt{
        font-size: 11px;
    }
    .maindiv{
        height: 3000px;
        width: 85%;
    }
    .maindivwhite{
        width: 90%;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #NasaTxt{
        width: 90px;
        height: 18px;
    }
    .moreinfo>a{
        font-weight: 700;
        color: #5a5a5a;
        font-size: 13px;
        padding-bottom: 20px;
    }
    .neptunelooks>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:380px){
    .Hlogo{
        margin-left: 9px;
    }
    .hPlanets{
        display: none;
    }
    .maindivpink{
        display: none;
    }
    main{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .hTxt{
        color: white;
        font-family: Russian;
        font-size: 10px;
    }
    .hTxt>p{
        margin: 0;
        letter-spacing: 0.5px;
    }
    .Hlogo>img{
        width: 80px;
    }
    #hbigtxt{
        font-size: 17px;
        letter-spacing: 2px;
    }
    #hsmalltxt{
        font-size: 11px;
    }
    .maindiv{
        width: 85%;
    }
    .maindivwhite{
        width: 90%;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #NasaTxt{
        width: 90px;
        height: 18px;
    }
    .moreinfo>a{
        font-weight: 700;
        color: #5a5a5a;
        font-size: 13px;
        padding-bottom: 20px;
    }
    .neptunelooks>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

